<!doctype html>
<html ng-app="mobileDash">

<head>

  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="robots" content="noindex">
  <!-- helps makes site responsive on phones/tablets. -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="js/angular.js"></script>
  <script src="js/angular-animate.js"></script>
  <script src="js/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/config.js"></script>
  <script src="js/loading-bar.js"></script>
  <script src="js/factories/Utility.js"></script>
  <script src="js/factories/ApiFactory.js"></script>
  <script src="js/factories/OrdersFactory.js"></script>
  <script src="js/factories/OrderItemsFactory.js"></script>
  <script src="js/factories/CustomersFactory.js"></script>
  <script src="js/factories/AddressFactory.js"></script>
  <script src="js/controllers/login.js"></script>
  <script src="js/controllers/home.js"></script>
  <script src="js/controllers/orderlist.js"></script>
  <script src="js/controllers/order.js"></script>
  <script src="js/controllers/orderitems.js"></script>
  <script src="js/controllers/customer.js"></script>
  <script src="js/controllers/customerlist.js"></script>
  <script src="js/controllers/product.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/datetimepicker/0.1.30/DateTimePicker.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/paper/bootstrap.min.css">
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/datetimepicker/0.1.30/DateTimePicker.min.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/loading-bar.css">
</head>

<body>
  <div class="clearfix">
    <div class="spacer"></div>
    <div class="nav navbar navbar-inverse">
      <ul class="list-inline icon-bar navbar-nav">
        <li><a href="#/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
        <li><a href="#/orders"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></a></li>
        <li><a href="#/customers"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
        <li><a href="#coupons"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span></a></li>
        <li><a href="#/orderitems"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span></a></li>
      </ul>
    </div>
    <div class="col-sm-8 col-sm-offset-2">
      
      <div class="text-center" style="padding:10px 0;">
        {{ requestCount }}<br>
        <input type="date" ng-model="date">
        vs.
        <input type="date" ng-model="compareDate">
      </div>
      <div ng-view class="main fade"></div>
    </div>
  </div>
</body>

</html>