<!doctype html>
<html ng-app="mobileDash">

<head>
  <title>Mobile Dash</title>
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="robots" content="noindex">
  <!-- helps makes site responsive on phones/tablets. -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="js/angular.js"></script>
  <script src="js/angular-animate.js"></script>
  <script src="js/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/config.js"></script>
  <script src="js/loading-bar.js"></script>
  <script src="js/factories/Utility.js"></script>
  <script src="js/factories/ApiFactory.js"></script>
  <script src="js/factories/OrdersFactory.js"></script>
  <script src="js/factories/OrderItemsFactory.js"></script>
  <script src="js/factories/CustomersFactory.js"></script>
  <script src="js/factories/AddressFactory.js"></script>
  <script src="js/factories/ContentFactory.js"></script>
  <script src="js/factories/MarketingFactory.js"></script>
  <script src="js/controllers/login.js"></script>
  <script src="js/controllers/home.js"></script>
  <script src="js/controllers/orderlist.js"></script>
  <script src="js/controllers/order.js"></script>
  <script src="js/controllers/orderitems.js"></script>
  <script src="js/controllers/customer.js"></script>
  <script src="js/controllers/customerlist.js"></script>
  <script src="js/controllers/product.js"></script>
  <script src="js/controllers/reviews.js"></script>
  <script src="js/controllers/marketing.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/datetimepicker/0.1.30/DateTimePicker.min.js"></script>
  <script src="js/sha.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/datetimepicker/0.1.30/DateTimePicker.min.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/loading-bar.css">
</head>

<body>
  <div class="clearfix">
    <div class="spacer"></div>
    <div class="nav navbar navbar-inverse">
      <ul class="list-inline icon-bar navbar-nav">
        <li><a href="#/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
        <li><a href="#/orders"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></a></li>
        <li><a href="#/customers"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
        <li><a href="#/marketing"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span></a></li>
        <li><a href="#/orderitems"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span></a></li>
        <li><a href="#" ng-click="doRefresh()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a></li>
        <li><a href="#/login" ng-click="doLogout()"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
      </ul>
    </div>
    <div class="col-sm-8 col-sm-offset-2">

      <div ng-if="!$root.login" class="text-center" style="padding:10px 0;">
        <select class="form-control" id="storeDD" ng-model="$root.storeid" convert-to-number>
          <option ng-repeat="store in $root.stores" ng-value="store.id">{{ store.name }}</option>
        </select>
        <div class="row">
          <div class="col-xs-6">
            <input class="form-control" type="date" id="date" ng-model="$root.date">
          </div>
          <div ng-if="$root.home" class="col-xs-6">
            <input class="form-control" type="date" id="comparedate" ng-model="$root.comparedate">
          </div>
        </div>
      </div>
      <div ng-view class="main fade"></div>
      <br>
      <div class="text-center">
        {{ requestCount }} requests
        <br>
        <br>
        <!--<a href="https://github.com/ry4nolson/dash" target="_blank">Contribute on GitHub</a>-->
        <div class="clearfix">
          <a class="github-button" href="https://github.com/ry4nolson" data-count-href="/ry4nolson/followers" data-count-api="/users/ry4nolson#followers"
            data-count-aria-label="# followers on GitHub" aria-label="Follow @ry4nolson on GitHub">Follow @ry4nolson</a>

          <a class="github-button" href="https://github.com/ry4nolson/dash" data-icon="octicon-eye" data-count-href="/ry4nolson/dash/watchers"
            data-count-api="/repos/ry4nolson/dash#subscribers_count" data-count-aria-label="# watchers on GitHub" aria-label="Watch ry4nolson/dash on GitHub">Watch</a>
        </div>
        <div class="clearfix">

          <a class="github-button" href="https://github.com/ry4nolson/dash" data-icon="octicon-star" data-count-href="/ry4nolson/dash/stargazers"
            data-count-api="/repos/ry4nolson/dash#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star ry4nolson/dash on GitHub">Star</a>

          <a class="github-button" href="https://github.com/ry4nolson/dash/fork" data-icon="octicon-repo-forked" data-count-href="/ry4nolson/dash/network"
            data-count-api="/repos/ry4nolson/dash#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork ry4nolson/dash on GitHub">Fork</a>

          <a class="github-button" href="https://github.com/ry4nolson/dash/issues" data-icon="octicon-issue-opened" data-count-api="/repos/ry4nolson/dash#open_issues_count"
            data-count-aria-label="# issues on GitHub" aria-label="Issue ry4nolson/dash on GitHub">Issue</a>
        </div>
      </div>
    </div>
  </div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-82453564-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>

</html>