<div class="panel panel-default">
  <div class="panel-heading">
    <back-link></back-link>
  </div>
  <div class="panel-body">
    <table class="items table">
      <thead>
        <tr>
          <th>Customer Name</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="customer in customers | orderObjectBy: 'total_value': true">
          <td><a href="#/customers/{{ customer.id }}">{{ customer.first_name }} {{ customer.last_name }}</a>
            <img src="images/ellipsis.gif" ng-if="customer.first_name == ''">
          </td>
          <td>{{ customer.order_count }}
            <img src="images/ellipsis.gif" ng-if="customer.order_count == undefined">
          </td>
          <td>{{ customer.total_value ? "$" + customer.total_value.toFixed(2) : "" }}
            <img src="images/ellipsis.gif" ng-if="customer.total_value == undefined">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>