<div class="panel panel-default">
	<div class="panel-heading">Home</div>
	<div class="panel-body page-panel">

		<div class="clearfix home-panels">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a href="#/orders">Orders</a>
				</div>
				<div class="panel-body">
					<canvas class="order-chart"></canvas>
					<table class="table">
						<tr>
							<th>
								{{ date.toLocaleDateString() }}
							</th>
							<td>
								<img src="images/ellipsis.gif" ng-if="order_count == undefined"> {{ order_count }} orders
							</td>
							<td>
								<img src="images/ellipsis.gif" ng-if="order_total == undefined"> ${{ order_total.toFixed(2) }}
							</td>
							</td>
						</tr>
						<tr>
							<th>
								{{ comparedate.toLocaleDateString() }}
							</th>
							<td>
								<img src="images/ellipsis.gif" ng-if="compare_order_count == undefined"> {{ compare_order_count_tonow}} / {{ compare_order_count }}
								orders
							</td>
							<td>
								<img src="images/ellipsis.gif" ng-if="compare_order_total == undefined"> ${{ compare_order_total_tonow.toFixed(2) }} / ${{ compare_order_total.toFixed(2)
								}}
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="panel panel-default main-panel">
				<div class="panel-heading">
					<a href="#/customers">Customers</a>
				</div>
				<div class="panel-body text-center">
					<canvas class="customer-chart home-chart"></canvas>
					<img src="images/ellipsis.gif" ng-if="newCustomers == undefined"> 
					{{ newCustomers }} ({{ ((newCustomers / (newCustomers + repeatCustomers)) * 100).toFixed(2)}}%) new -
					<img src="images/ellipsis.gif" ng-if="repeatCustomers == undefined"> 
					{{ repeatCustomers }} ({{ ((repeatCustomers / (newCustomers + repeatCustomers)) * 100).toFixed(2)}}%) repeat
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<a href="#/orderitems">Items</a>
				</div>
				<div class="panel-body">
					<canvas class="items-chart"></canvas>
					<img src="images/ellipsis.gif" ng-if="total == undefined"> {{ total }} {{ total == 1 ? "item" : "items" }}
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<a href="#/marketing">Marketing</a>
				</div>
				<div class="panel-body">
					<div>
				 		{{ coupons }} Coupon{{ coupons == 1 ? "" : "s" }} used.
					</div>
					<div>
						{{ adcodes }} Order{{ addcodes == 1 ? "" : "s" }} came from adcodes.
					</div>
				</div>	
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<a href="#/reviews">Reviews</a>
				</div>
				<div class="panel-body">
					<img src="images/ellipsis.gif" ng-if="reviews == undefined"> {{ reviews.length }} {{ reviews.length == 1 ? "review" : "reviews" }}
				</div>
			</div>
		</div>
		<br>
	</div>
</div>