<div class="panel panel-default">
    <div class="panel-heading">
        Log in to your store
    </div>
    <div class="panel-body">
        <strong ng-if="showLoading">
            Loading data for {{ domain }}
        </strong>
        <div class="form-group" ng-if="!showLoading">
            <label for="domain">Enter your store's SSL Domain Name</label>
            <input type="text" class="form-control" id="domain" ng-model="domain">
        </div>
        <button class="btn btn-primary" ng-if="!showLoading" ng-click="doLogin()">Login with Spark Pay</button>
    </div>
</div>