<div class="panel panel-default">
  <div class="panel-heading">
    <back-link></back-link> Marketing
  </div>
  <div class="panel-body">
    <div class="panel panel-default">
      <div class="panel-heading">
        Coupon Codes
      </div>
      <div class="panel-body">
        <div ng-if="coupons.total == 0">
          No coupons were used today.
        </div>
        <table class="items table" ng-if="coupons.total > 0">
          <thead>
            <tr>
              <th>Coupon</th>
              <th>Uses</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="coupon in coupons.coupons">
              <td>
                {{ coupon.name }}
              </td>
              <td>
                {{ coupon.uses }}
              </td>
              <td>
                ${{ coupon.amount.toFixed(2) }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        Adcodes
      </div>
      <div class="panel-body">
        <div ng-if="adcodes.total == 0">
          No orders derived from adcodes today
        </div>
        <table class="items table" ng-if="adcodes.total > 0">
          <thead>
            <tr>
              <th>Adcodes</th>
              <th>Orders</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="adcode in adcodes.adcodes">
              <td>
                {{ adcode.name }}
              </td>
              <td>
                {{ adcode.uses }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        Sources
      </div>
      <div class="panel-body">
        <div ng-if="sources.total == 0">
          No orders had sources today
        </div>
        <table class="items table" ng-if="sources.total > 0">
          <thead>
            <tr>
              <th>Source</th>
              <th>Orders</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="source in sources.sources">
              <td>
                {{ source.name }}
              </td>
              <td>
                {{ source.uses }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        Referrers
      </div>
      <div class="panel-body">
        <div ng-if="referrers.total == 0">
          No orders had referrers today
        </div>
        <table class="items table" ng-if="referrers.total > 0">
          <thead>
            <tr>
              <th>Referrer</th>
              <th>Orders</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="referrer in referrers.referrers">
              <td style="word-break:break-all;">
                <a ng-href="{{ referrer.link }}" target="_blank">{{ referrer.name }}</a>
              </td>
              <td>
                {{ referrer.uses }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>